<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-latest/css/mui.min.css" rel="stylesheet" type="text/css" />

    <script src="//cdn.muicss.com/mui-latest/js/mui.min.js"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.17.0/axios.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>

    <link rel="stylesheet" href="angular-ui-tree/dist/angular-ui-tree.min.css">
    <script type="text/javascript" src="angular-ui-tree/dist/angular-ui-tree.js"></script>

    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.9.39/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.39/angular/mui-angular.min.js"></script>
    <link href="static/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.rawgit.com/BioPhoton/angular1-star-rating/v1.2.4/dist/index.js"></script>
    <script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js"></script>
    <link rel="stylesheet" href="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.css" />

    <script type="text/javascript" src="angular.treeview/angular.treeview.js"></script>
    <link rel="stylesheet" type="text/css" href="angular.treeview/css/angular.treeview.css">

    <script>
        async function getCategoryTree() {

            let json = await axios.get("/data/groups.json");
            return json;
        }


        angular.module('checkboxExample', ['star-rating', 'rzModule', 'ui.tree']).controller('ExampleController', ['$scope', '$timeout', function ($scope, $timeout) {
            $scope.treedata = [];
            getCategoryTree().then(function (response) {
                console.log(response.data);
                $scope.treedata = [response.data];
                $scope.$apply();
            });

            $scope.remove = function (scope) {
                scope.remove();
            };

            $scope.toggle = function (scope) {
                scope.toggle();
            };

            $scope.moveLastToTheBeginning = function () {
                var a = $scope.data.pop();
                $scope.data.splice(0, 0, a);
            };

            $scope.newSubItem = function (scope) {
                var nodeData = scope.$modelValue;
                nodeData.nodes.push({
                    id: nodeData.id * 10 + nodeData.nodes.length,
                    title: nodeData.title + '.' + (nodeData.nodes.length + 1),
                    nodes: []
                });
            };

            $scope.collapseAll = function () {
                $scope.$broadcast('angular-ui-tree:collapse-all');
            };

            $scope.expandAll = function () {
                $scope.$broadcast('angular-ui-tree:expand-all');
            };

            $scope.data = [{
                'id': 1,
                'title': 'node1',
                'nodes': [
                    {
                        'id': 11,
                        'title': 'node1.1',
                        'nodes': [
                            {
                                'id': 111,
                                'title': 'node1.1.1',
                                'nodes': []
                            }
                        ]
                    },
                    {
                        'id': 12,
                        'title': 'node1.2',
                        'nodes': []
                    }
                ]
            }, {
                'id': 2,
                'title': 'node2',
                'nodrop': true, // An arbitrary property to check in custom template for nodrop-enabled
                'nodes': [
                    {
                        'id': 21,
                        'title': 'node2.1',
                        'nodes': []
                    },
                    {
                        'id': 22,
                        'title': 'node2.2',
                        'nodes': []
                    }
                ]
            }, {
                'id': 3,
                'title': 'node3',
                'nodes': [
                    {
                        'id': 31,
                        'title': 'node3.1',
                        'nodes': []
                    }
                ]
            }];
        
            
            
            
        }]);
    </script>
</head>

<body ng-app="checkboxExample" ng-controller="ExampleController">

    <div ui-tree>
        <ol ui-tree-nodes="" ng-model="data">
            <li ng-repeat="item in list" ui-tree-node>
                <div ui-tree-handle>
                    {{item.title}}
                </div>
                <ol ui-tree-nodes="" ng-model="item.items">
                    <li ng-repeat="subItem in item.items" ui-tree-node>
                        <div ui-tree-handle>
                            {{subItem.title}}
                        </div>
                    </li>
                </ol>
            </li>
        </ol>
    </div>



</body>

</html>